{% extends "base.html" %}
<body>
   {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}
    <div class="container">
        <div class="col-lg-12">
           <div class="page-header">
              <h1>Project Pages</h1>
           </div>
        </div>
    </div>

    <div class="container">
        <table class="table table-hover">
        <thead>
           <tr>
              <th scope="col">Project Name</th>
              <th scope="col">Project ID</th>
              <th scope="col">Author</th>
              <th scope="col">Created Date</th>
              <th scope="col">Config File Location</th>
              <th scope="col">Inventory File Location</th>
           </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td> <a href=/project/{{ project.id }}>{{ project.name }}</a></td>
                <td> {{ project.id }} </td>
                <td> {{ project.author.username }} </td>
                <td> {{ project.date_created }} </td>
                <td> {{ project.config_file }} </td>
                <td> {{ project.inventory_file }} </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    {% endblock content %}
</body>