{% extends "base.html" %}
{% block content %}
<div class="row mb-5">
   <div class="col-lg-1">
       <div class="bs-component">
           <ul class="nav nav-pills flex-column navbar-dark">
               <li class="nav-item">
                  <a class="nav-link" href="/project/{{ project.id }}">Dashboard</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="/project/{{ project.id }}/monitor">Monitor</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/project/{{ project.id }}/configure">Configuration</a>
              </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">Tools</a>
               </li>
               <li class="nav-item">
                   <a class="nav-link" href="#">Maintenance</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link disabled" href="#">Disabled</a>
               </li>
           </ul>
       </div>
   </div>
   <div class="col-lg-10">
      <div class="container">
         <h1> Dashboard | Project <small class="text-muted"> {{ project.name }} </small></h1>
         <!-- <a type="button" class="btn btn-info" href="/project/{{ project.id }}">Update details</a> -->
      </div>
      
      <div class="container">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th scope="col">Hostname</th>
                  <th scope="col">Management IP</th>
                  <th scope="col">Version</th>
                  <th scope="col">Platform</th>
                  <th scope="col">Image ID</th>
                  <th scope="col">Compiled Date</th>
               </tr>
            </thead>
            <tbody>
               {% for device in project.devices %}
               <tr>
                     <td> {{ device.name}} </td>
                     <td> {{ device.management_ip }} </td>
                     <td> {{ result[device.name]['version']['version'] }} </td>
                     <td> {{ result[device.name]['version']['platform'] }} </td>
                     <td> {{ result[device.name]['version']['image_id'] }} </td>
                     <td> {{ result[device.name]['version']['compiled_date'] }} </td>
               </tr>
               {% endfor %}
            </tbody>
         </table>

      </div>
      </br></br>
      <!-- {{result['R2']['version']}} -->
      <!-- <pre>{{result}}</pre> -->

      <div class="container">
         <h1>Project Topology<small class="text-muted"> for {{ project.name }} </small></h1>
         <img src="{{url_for('static', filename='00_topo2.png', width=100)}}" class = "center" style="height:600px;">
      </div>

   </div>
 </div>


{% endblock %}